<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    {% if page.title %}
    <meta name="description" content="{{ page.title }} : {{ page.tagline }}" />
    {% else %}
    <meta name="description" content="{{ site.title }} : {{ site.tagline }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Lightweight Modular Staging</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <a id="forkme_banner" href="https://github.com/scala-lms">View on GitHub</a>
        <header class="inner">

	  {% if page.title %}
          <h1 id="project_title"><a href="/">LMS</a> &rarr; {{ page.title }}</h1>
          <h2 id="project_tagline">{{ page.tagline }}</h2>
	  {% else %}
          <h1 id="project_title">{{ site.title }}</h1>
          <h2 id="project_tagline">{{ site.tagline }}</h2>
	  {% endif %}

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
{{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
	
      </footer>
    </div>

  </body>
</html>
